.title{
  font-family:ariel; 
  font-size:50px; 
  background-color: rgba(255, 0, 0, 0.747);
  letter-spacing: 10px;
  }
.flexContainerControls > div{
    /* width: 20%; */
    align-self: center;
    }
  
.flexContainerControls{
  display:flex;
  flex-direction:row;
  }
.resetButton{
  width: 25%;
  padding-left: 30px;
  }
.randomizePairsButton{
  width: 25%;
  }
.addNewPair{
  width: 25%;
  }
.addNewBox{
  width:25%;
  }
body {
  height: 100%;
  }
.toggleDrag{
  width: 25%;
  }
.garbageCanIcon{
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  }
.flexDeleteBox{
  width: 50px;
  height: 30px;
  }
.flexContainerPairs{
    display:flex;
    flex-direction:row;
  }
.pairNames{
    display:flex;
    flex-direction:row;
    width: 75px;
    height: 75px;
    flex-basis:100%;
    justify-content: space-evenly;
    align-items: center;
    }
.pairShape {
    border: 1px solid black;
    /* padding: 5px; */
    margin: 5px;
    width: 200px;
    height: 25px;
    align-content: center;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.747);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
  }
.flexContainerBoxes{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }    
.pairBoxHeader {
    width: 300px;
    min-width: 300px;
    height: 45px;
    border: 1px solid black;
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
  }
.pairBoxNameSpace{
  overflow: hidden;
  height: 22pt;
  font-size: 15pt;
  }
.pairBoxNameSpace{
    width: 240px;
  }
.pairBox{
    width: 300px;
    min-width: 300px;
    height: 275px;
    position: relative;
    border: 1px solid black;
  }
.pairBoxContent{
    width: 300px;
    min-width: 300px;
    height: 230px;
    position: relative;
    border: 1px solid black;
  }
.deleteTopRight{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 12px;
  }
.groupBoxName{
    position: absolute;
    top: 8px;
    left: 14px;
    font-size: 20px;
  }




